@import (reference) '../../../styles/base';

@el: e('.player-profile');

@{el} {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__input {
    margin-top: 47px;
  }

  &__remove-player {
    margin-bottom: 31px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__remove-icon {
    margin-left: 9px;
  }
}
