@import '../../../styles/base';

.location-category {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 414px) {
    justify-content: normal;
  }
  @media(max-width: 358px) {
    justify-content: space-between;
  }
}

.location-category__basic-image_selected {
  position: relative;
  left: 3px;
  top: -5px;
}

.location-category__basic-image_muted {
  position: relative;
  left: -30px;
  top: -30px;
}

.location-category__custom-image_selected {
  position: relative;
  top: 3px;
}

.location-category__custom-image_muted {
  position: relative;
  left: -30px;
  top: -30px;
}

.location-category__inner {
  margin-left: 18px;
}

.location-category__name {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px;
  line-height: 21px;
  cursor: pointer;
  @media(max-width: 358px) {
    text-align: right;
  }
}

.location-category__name_muted {
  color: #86929b;
}

.location-category__edit {
  display: flex;
  align-items: center;
  cursor: pointer;
  @media(max-width: 358px) {
    justify-content: flex-end;
  }
}

.location-category__edit-text {
  font-size: 16px;
  line-height: 19px;
  color: #F74A86;
  width: 118px;
  @media(max-width: 358px) {
    display: none;
  }
}

.location-category__edit-icon {
  margin-left: 11px;
  @media(max-width: 358px) {
    margin-left: 0;
  }
}