@import (reference) '../../../styles/base';

@el: e('.navigation');

@{el} {
  padding: 44px 0 34px 10px;
  cursor: pointer;

  &__back {
    width: 15px;
    height: 25px;
  }

  &__menu {
    width: 29px;
    height: 22px;
  }
}
