@import '../../../styles/base';

.counter {
  margin-bottom: 41px;
}

.counter__inner {
  position: relative;
  padding: 58px 0;
}

.counter__name {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.counter__name_muted {
  color: #86929b;
}

.counter-display {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background: @baseColor;
  border: 5px solid #FFFFFF;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.counter-display_muted {
  color: #86929b;
  border: 5px solid #86929b;
}

.counter-display__units {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.counter-display__time {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
}
