@import '../../../styles/base';

@el: e('.paragraph');

@{el} {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;

  &_has-margin {
    margin: 12px 0;
  }

  &_weight-extra-light {
    font-weight: 300;
  }

  &_weight-light {
    font-weight: 400;
  }

  &_weight-medium {
    font-weight: 500;
  }

  &_weight-bold {
    font-weight: 700;
  }

  &_align-center {
    text-align: center;
  }

  &_align-justify {
    text-align: justify;
  }
}
