@import (reference) '../../../styles/base';

@el: e('.paragraph');

@{el} {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;

  &_has-margin {
    margin: 12px 0;
  }

  &_weight_extra-light {
    font-weight: 300;
  }

  &_weight_light {
    font-weight: 400;
  }

  &_weight_medium {
    font-weight: 500;
  }

  &_weight_bold {
    font-weight: 700;
  }

  &_align_center {
    text-align: center;
  }

  &_align_justify {
    text-align: justify;
  }
}
