@import (reference) '../../../styles/base';

@el: e('.text-field');

@{el} {
  width: 100%;

  &__input {
    width: 100%;
    background-color: @baseColor;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 26px;
  }

  &__input_error {
    margin-bottom: 10px;
  }

  &__error {
    text-align: center;
    color: #F50057;
  }
}
